body {
  background-image: linear-gradient(#cc8800, #ffe6b3);
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown:hover .dropdown-content {
  display: block;
}
p {
  font-size: 26px;
  text-align: center;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
